<h1><%= @cocktail.name %></h1>
<p>Ingredients:</p>
<ul>
<% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %>: <%= dose.quantity %> <%=dose.ingredient.name %>  <%= link_to cocktail_dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} do %><i class="far fa-trash-alt"></i> <% end %></li>
  <% end %>
</ul>

<%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail) %>
<hr>
<%= link_to 'Back to all Cocktails', cocktails_path %>

